@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Ubuntu:wght@400;500&display=swap');
:root{
 --gold : #bd9e61;
 --grey : #777777;
 --blue : #2596be;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
/*first section*/
.firstContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--grey);
}
.transparentLogo{
    width: 25%;
    height: 45%;
    position: absolute;
    bottom: 65%;
}
ul li{
    display: inline-block;
    padding-left: 80px;
    position: relative;
    right: -550px;
    top: 40px;
}
ul li a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    border: 1px solid var(--gold);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.person5Img{
    position: absolute; 
    right: -13%;
    bottom: -0%;
    width: 30%;
    height: 80%;
}
.person6Img{
    position: absolute;
    right: -1%;
    bottom: -0%;
    width: 40%;
    height: 80%;
}
.captionTXT{
    font-size: 2em;
    position: relative;
    top: 35%;
    left: 6%;   
    color: white;
}
.iamWillionair{
    font-size: 2em;
    position: relative;
    top: 40%;
    left: 6%; 
    color: var(--gold);
}
/*second section*/
.secondContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    position: relative;
}
.person1Img{
    position: absolute;
    left: 2%;
    top: 5%;
    width: 40%;
    height: 110%;  
}
/*third section*/
.thirdContainer{
   background-color: #777777;
   width: 100%;
   height: 100vh;
}
.videoH1{
   color: white;
   position: relative;
   top: 2%;
   text-align: center;
   font-size: 3em;
}
.iframe1{
    position: absolute;
    bottom: -150%;
    left: 22%;
    height: 34%;
    width: 27%;
}
.iframe2{
    position: absolute;
    bottom: -150%;
    left: 53%;
    height: 34%;
    width: 27%;
}
.iframe3{
    position: absolute;
    bottom: -190%;
    left: 22%;
    height: 34%;
    width: 27%;
}
.iframe4{
    position: absolute;
    bottom: -190%;
    left: 53%;
    height: 34%;
    width: 27%;
}
.divFooter{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: var(--blue);   
}
.studioMan{
    border-radius: 40px;
    position: relative;
    top: 4%;
    left: 35%;
    width: 53%;
    height: 90%;   
    filter: brightness(50%);
}
.glassDrop{
    padding: 30px;
    position: absolute;
    top: 4%;
    left: 35%;
    width: 53%;
    height: 90%;
    border: 1px solid white;
    border-radius: 40px;
    -webkit-backdrop-filter: blur(8px);  
    backdrop-filter: blur(8px); 
    box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
    background-color: rgba(228 ,228 ,228 ,0.10);
}
.h2story{
    font-size: 3.6vh;
    color: white;
}
.willFooter{
    position: absolute; 
    right: -6%;
    bottom: 0%;
    width: 30%;
    height: 130%; 
}
.facebook-logo{
    position: relative;
    left: 40%;
    top: 40%;
}
.instagram-logo{
    position: relative;
    left: 45%;
    top: 40%;
}
.youtube-logo{
    position: relative;
    left: 50%;
    top: 40%;
}
.rightTxt{
    position: absolute;
    left: 40%;
    bottom: 9%;
    color: white;
}

@media only screen and (min-width: 1269px) and (max-width:1319px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 25%;
        height: 45%;
        position: absolute;
        bottom: 65%;
    }
    ul li{
        display: inline-block;
        padding-left: 60px;
        position: relative;
        right: -500px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 17px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -13%;
        bottom: -0%;
        width: 30%;
        height: 80%;
    }
    .person6Img{
        position: absolute;
        right: 5%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 2em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 5%;
        width: 40%;
        height: 110%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 3.6vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 130%; 
    }
    .facebook-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 45%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 50%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 40%;
        bottom: 9%;
        color: white;
    }
}
@media only screen and (min-width: 1151px) and (max-width:1268px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 25%;
        height: 45%;
        position: absolute;
        bottom: 65%;
    }
    ul li{
        display: inline-block;
        padding-left: 60px;
        position: relative;
        right: -450px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 17px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -13%;
        bottom: -0%;
        width: 30%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 2em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 5%;
        width: 40%;
        height: 110%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 3.2vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 130%; 
    }
    .facebook-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 45%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 50%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 40%;
        bottom: 9%;
        color: white;
    }   
}
@media only screen and (min-width: 1100px) and (max-width: 1150px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 25%;
        height: 45%;
        position: absolute;
        bottom: 65%;
    }
    ul li{
        display: inline-block;
        padding-left: 60px;
        position: relative;
        right: -400px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 17px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -13%;
        bottom: -0%;
        width: 30%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 2em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 5%;
        width: 40%;
        height: 110%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 3.2vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 130%; 
    }
    .facebook-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 45%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 50%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 40%;
        bottom: 9%;
        color: white;
    }
}
/*large devices like laptops*/
@media only screen and (min-width: 992px) and (max-width: 1099px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 20%;
        height: 30%;
        position: absolute;
        bottom: 75%;
    }
    ul li{
        display: inline-block;
        padding-left: 60px;
        position: relative;
        right: -300px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 17px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -12%;
        bottom: -0%;
        width: 30%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.9em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 5%;
        width: 40%;
        height: 110%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 90%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 3.2vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 130%; 
    }
    .facebook-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 45%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 50%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 40%;
        bottom: 9%;
        color: white;
    }
}   
/*medium phones*/
@media only screen and (min-width: 805px) and (max-width: 991px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 20%;
        height: 30%;
        position: absolute;
        bottom: 75%;
    }
    ul li{
        display: inline-block;
        padding-left: 60px;
        position: relative;
        right: -150px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 15px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -14%;
        bottom: -0%;
        width: 35%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.8em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 30%;
        width: 40%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.5vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 130%; 
    }
    .facebook-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 45%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 50%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 40%;
        bottom: 9%;
        color: white;
    }
}
@media only screen and (min-width: 750px) and (max-width: 804px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 25%;
        height: 30%;
        position: absolute;
        bottom: 75%;
    }
    ul li{
        display: inline-block;
        padding-left: 60px;
        position: relative;
        right: -150px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 12px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -15%;
        bottom: -0%;
        width: 39%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.6em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 30%;
        width: 40%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 53%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.5vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 130%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 27%;
        bottom: 9%;
        color: white;
    }
}
@media only screen and (min-width: 680px) and (max-width: 749px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 25%;
        height: 30%;
        position: absolute;
        bottom: 75%;
    }
    ul li{
        display: inline-block;
        padding-left: 40px;
        position: relative;
        right: -150px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 12px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -16%;
        bottom: -0%;
        width: 42%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.6em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 2em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 30%;
        width: 40%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 60%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 60%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.5vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 30%;
        height: 120%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 27%;
        bottom: 9%;
        color: white;
    }
}
@media only screen and (min-width: 600px) and (max-width: 679px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 30%;
        height: 30%;
        position: absolute;
        bottom: 75%;
    }
    ul li{
        display: inline-block;
        padding-left: 40px;
        position: relative;
        right: -150px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 10px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -18%;
        bottom: -0%;
        width: 46%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.3em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 1.5em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 2%;
        top: 30%;
        width: 45%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 4%;
        left: 35%;
        width: 60%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 4%;
        left: 35%;
        width: 60%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.3vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -6%;
        bottom: 0%;
        width: 35%;
        height: 120%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 27%;
        bottom: 9%;
        color: white;
    }
}
/*extra small devices*/
@media only screen and (min-width: 550px) and (max-width: 599px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 30%;
        height: 25%;
        position: absolute;
        left: -5%;
        bottom: 79%;
    }
    ul li{
        display: inline-block;
        padding-left: 40px;
        position: relative;
        right: -120px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 9px;
        color: white;
        border: 1px solid var(--gold);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -18%;
        bottom: -0%;
        width: 46%;
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.3em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 1.5em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 200%;
        top: 30%;
        width: 45%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.3vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -7%;
        bottom: 0%;
        width: 40%;
        height: 120%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 27%;
        bottom: 9%;
        color: white;
    }
}
@media only screen and (min-width: 500px) and (max-width: 549px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 30%;
        height: 25%;
        position: absolute;
        left: -5%;
        bottom: 79%;
    }
    ul li{
        display: inline-block;
        padding-left: 30px;
        position: relative;
        right: -120px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 9px;
        color: white;
        border: 1px solid var(--gold);
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -21%;
        bottom: -0%;
        width: 53%; /*start here*/
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.3em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 1.5em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 200%;
        top: 30%;
        width: 45%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.3vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -7%;
        bottom: 0%;
        width: 40%;
        height: 120%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 23%;
        bottom: 9%;
        color: white;
        font-size: 0.9em;
    }
}
/*changes for responsive phone */
@media only screen and (min-width: 450px) and (max-width: 499px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 30%;
        height: 25%;
        position: absolute;
        left: -5%;
        bottom: 79%;
    }
    ul li{
        display: inline-block;
        padding-left: 30px;
        position: relative;
        right: -120px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 9px;
        color: white;
        border: 1px solid var(--gold);
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -21%;
        bottom: -0%;
        width: 53%; /*start here*/
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.3em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 1.5em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 200%;
        top: 30%;
        width: 45%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -150%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -150%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -190%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -190%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 2.3vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -7%;
        bottom: 0%;
        width: 40%;
        height: 120%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 23%;
        bottom: 9%;
        color: white;
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 400px) and (max-width: 449px){
    body{
        overflow-x: hidden;
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .transparentLogo{
        width: 33%;
        height: 25%;
        position: absolute;
        left: -5%;
        bottom: 79%;
    }
    ul li{
        display: inline-block;
        padding-left: 25px;
        position: relative;
        right: -105px;
        top: 40px;
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        font-size: 9px;
        color: white;
        border: 1px solid var(--gold);
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
    }
    .person5Img{
        position: absolute; 
        right: -21%;
        bottom: -0%;
        width: 58%; /*start here*/
        height: 70%;
    }
    .person6Img{
        position: absolute;
        right: 500%;
        bottom: -0%;
        width: 30%;
        height: 60%;
    }
    .captionTXT{
        font-size: 1.3em;
        position: relative;
        top: 35%;
        left: 6%;   
        color: white;
    }
    .iamWillionair{
        font-size: 1.5em;
        position: relative;
        top: 40%;
        left: 6%; 
        color: var(--gold);
    }
    /*second section*/
    .secondContainer{
        width: 100%;
        height: 100vh;
        background-color: var(--blue);
        position: relative;
    }
    .person1Img{
        position: absolute;
        left: 200%;
        top: 30%;
        width: 45%;
        height: 80%;  
    }
    /*third section*/
    .thirdContainer{
       background-color: #777777;
       width: 100%;
       height: 100vh;
    }
    .videoH1{
       color: white;
       position: relative;
       top: 2%;
       text-align: center;
       font-size: 3em;
    }
    .iframe1{
        position: absolute;
        bottom: -170%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe2{
        position: absolute;
        bottom: -170%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .iframe3{
        position: absolute;
        bottom: -210%;
        left: 22%;
        height: 34%;
        width: 27%;
    }
    .iframe4{
        position: absolute;
        bottom: -210%;
        left: 53%;
        height: 34%;
        width: 27%;
    }
    .divFooter{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);   
    }
    .studioMan{
        border-radius: 40px;
        position: relative;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;   
        filter: brightness(50%);
    }
    .glassDrop{
        padding: 30px;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 80%;
        height: 70%;
        border: 1px solid white;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(8px);  
        backdrop-filter: blur(8px); 
        box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
        background-color: rgba(228 ,228 ,228 ,0.10);
    }
    .h2story{
        font-size: 1.9vh;
        color: white;
    }
    .willFooter{
        position: absolute; 
        right: -7%;
        bottom: 0%;
        width: 45%;
        height: 120%; 
    }
    .facebook-logo{
        position: relative;
        left: 30%;
        top: 40%;
    }
    .instagram-logo{
        position: relative;
        left: 35%;
        top: 40%;
    }
    .youtube-logo{
        position: relative;
        left: 40%;
        top: 40%;
    }
    .rightTxt{
        position: absolute;
        left: 20%;
        bottom: 9%;
        color: white;
        font-size: 0.7em;
    }
}